@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend+Giga:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Jost', sans-serif;
  padding-bottom: 80px; /* Espacio para el reproductor de radio */
}

/* Estilos para el reproductor de radio */
.radio-player-container {
  height: 72px; /* Altura del reproductor */
}

/* Estilos para el slider de volumen */
.radio-volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: #ef4444;
  border-radius: 50%;
  cursor: pointer;
}

.radio-volume-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #ef4444;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

/* Delays de animación para los indicadores de reproducción */
.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}
